:root {
    --color-bg: #FEFAE0;
    
    --color-green: #606C38;
    --color-beige: #FAEDCD;
    --color-orange: #D4A373;
    --color-palebeige: #EFEBCE;
    --color-lightgreen: #E9EDC9;
    --color-green: #CCD5AE;
    --color-darkgreen: #606C38;
    --color-brown: #7E6551;
    --color-blue: #0A1128;
    --color-black: #000000;
    --color-gray: #444444;
    --color-red: #FF0000;

    --font-montserrat: 'Montserrat';
}