@import "./styles/globals.css";

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: var(--font-montserrat);
}

.app {
    padding-top: 120px; /* Espace pour le header fixe */
}