@import "./styles/globals.css";

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: var(--font-montserrat);
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px; 
}

.app > *:not(.footer) {
    flex-shrink: 0;
}

.footer {
    margin-top: auto;
}